[app]
env = "prod" # dev | prod
debug = false
storage = "memory" # memory | sql

[rest]
host = ""
port = 8080

[grpc]
host = ""
port = 8090

[logger]
level = "debug" # debug | info | warn | error
channel = "stdout" # stdout | stderr | file
# file = "logs/calendar.log"

[database]
host = "localhost"
port = 5432
database = "calendar"
username = "calendar"
password = "calendar-pwd"
schema = "public"
ssl_mode = "disable"
timezone = "Europe/Moscow"
target_session_attr = "read-write"
